*{
  margin:0;
  /* outline: 2px solid black; */
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: url('assets/bg.jpg');
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  height: 100vh;
}


.logoDiv{
  max-width: fit-content;
  margin: 0 auto;
  
}

.logo {
 height: 10rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.search-container {
  /* max-width: fit-content; */
  /* margin: 0 auto; */
  display:flex;
  justify-content: center;

}

.search-box {
  height: 15px;
  width: 500px;
  font-size: 1.5em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
}

.favTitle{
  max-width:fit-content;
  margin: 0 auto;
}

.cardMain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin: 20px auto;
}

.card {
  width: 400px;
  height: 560px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(133, 131, 47, 0.4);
  transition: transform 0.3s ease-in-out;
  margin: 20px;
}

.cardDiv{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.cardIndex{
  margin-top: 20px ;
}
.card:hover {
  transform: scale(1.05);
}

.cardBtn {
  background-color: #ffcc00;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cardBtn:hover {
  background-color: #ffaa00;
}

.displayMain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 24px;
}


